extends layout

block content
  ul
    each branch in branches
      li
        if branch.selected
          a.branch.red(href=`/${branch.name}/`)= branch.name
        else
          a.branch.green(href=`/${branch.name}/`)= branch.name
  ul
    each commit in commits
      li
        a(href=`/${branch}/${commit.hash}/`)= commit.title
  ul
    each file in files
      li
        if file.type === 'blob'
          a.file= file.name
        else
          a.folder= file.name
